@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



body {
  background: url('https://res.cloudinary.com/dnsjdvzdn/image/upload/v1721506369/background_j19jhu.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
